.greenButton {
    background-color: #8c9657;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.greenButton:hover {
    background-color: #7a8450;
}

.brownButton {
    background-color: #99744a;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.brownButton:hover {
    background-color: #8a6842;
}

.Button {
    background-color: #8c9657;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.Button:hover {
    background-color: #7a8450;
}