.wrap {
    width: 380px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #C19C6F;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #473f34;
    font-weight: 600;
}

.inputText {
    position: relative;
    margin-bottom: 20px;
}

.inputText input {
    width: 300px;
    height: 5px;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid #d4b798;
    font-size: 14px;
    outline: none;
    background-color: #faf6f0;
}

.inputText input:focus {
    border-color: #8c9657;
}

.inputText i {
    position: absolute;
    left: 15px;
    top: 17px;
    color: #99744a;
    font-weight: 600;
}

.btnLogin {
    width: 100%;
    height: 42px;
    background-color: #8c9657;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btnLogin:hover {
    background-color: #7a8450;
    text-decoration: none;
}

.reg {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.reg a {
    color: #c19c6f;
    text-decoration: none;
    font-weight: 600;
}

.linkHover:hover {
    color: #8c9657;
}

.error {
    background-color: #ffebee;
    color: #ca7a7a;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 18px;
    border: 2px solid #ffcdd2;
}