* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0e5c7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrap {
    width: 380px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #C19C6F;
}

.wrap h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #473f34;
    font-weight: 600;
}

.input-text {
    position: relative;
    margin-bottom: 20px;
}

.input-text input {
    width: 100%;
    height: 42px;
    padding: 20px 40px; 
    border-radius: 10px;
    border: 2px solid #d4b798;
    font-size: 14px;
    outline: none;
    background-color: #faf6f0;
}

.input-text input:focus {
    border-color: #8c9657;
}

.input-text i {
    position: absolute;
    left: 15px; 
    top: 14px; 
    color: #99744a;
    font-weight: 600;
}

.btn-login {
    width: 100%;
    height: 42px;
    background-color: #8c9657;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

.btn-login:hover {
    background-color: #7a8450;
}

.hide {
    display: none;
}

.reg, .log {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.reg a, .log a {
    color: #c19c6f;
    text-decoration: none;
    font-weight: 600;
}

.reg a:hover, .log a:hover {
    color: #8c9657;
}